In [3]:
import pandas as pd

data = [
    {"name": "ABC Palm Oil", "state": "Johor", "industry": "Palm Oil", "monthly_bill": 120000},
    {"name": "Mega Petrochem", "state": "Selangor", "industry": "Petrochemical", "monthly_bill": 200000},
    {"name": "Green Factory", "state": "Penang", "industry": "Manufacturing", "monthly_bill": 95000},
    {"name": "Sabah Food Sdn Bhd", "state": "Sabah", "industry": "Food Processing", "monthly_bill": 70000},
    {"name": "KL Steel Works", "state": "Kuala Lumpur", "industry": "Steel", "monthly_bill": 160000},
    {"name": "Sarawak Timber", "state": "Sarawak", "industry": "Timber", "monthly_bill": 110000},
    {"name": "Johor Logistics Hub", "state": "Johor", "industry": "Logistics", "monthly_bill": 130000},
    {"name": "Penang Electronics", "state": "Penang", "industry": "Electronics", "monthly_bill": 175000}
]

df = pd.DataFrame(data)

df

                  name         state         industry  monthly_bill
0         ABC Palm Oil         Johor         Palm Oil        120000
1       Mega Petrochem      Selangor    Petrochemical        200000
2        Green Factory        Penang    Manufacturing         95000
3   Sabah Food Sdn Bhd         Sabah  Food Processing         70000
4       KL Steel Works  Kuala Lumpur            Steel        160000
5       Sarawak Timber       Sarawak           Timber        110000
6  Johor Logistics Hub         Johor        Logistics        130000
7   Penang Electronics        Penang      Electronics        175000

In [4]:
#Find which state have highest bill
state_totals = df.groupby("state")["monthly_bill"].sum()

state_totals

state
Johor           250000
Kuala Lumpur    160000
Penang          270000
Sabah            70000
Sarawak         110000
Selangor        200000
Name: monthly_bill, dtype: int64

In [5]:
top_state = state_totals.idxmax()
highest_total = state_totals.max()

print("Top revenue state:", top_state)
print("Highest total monthly bill:", highest_total)

Top revenue state: Penang
Highest total monthly bill: 270000

In [6]:
#Average monthly bill
average_bill = df["monthly_bill"].mean()

print("Average monthly bill:", average_bill)

Average monthly bill: 132500.0

In [9]:
df.info("monthly_bill")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          8 non-null      object
 1   state         8 non-null      object
 2   industry      8 non-null      object
 3   monthly_bill  8 non-null      int64
dtypes: int64(1), object(3)
memory usage: 388.0+ bytes

In [7]:
#To find the bill > RM150,000 client
high_bill_clients = df[df["monthly_bill"] > 150000]

high_bill_clients

                 name         state       industry  monthly_bill
1      Mega Petrochem      Selangor  Petrochemical        200000
4      KL Steel Works  Kuala Lumpur          Steel        160000
7  Penang Electronics        Penang    Electronics        175000

In [8]:
#Client onlly wants Selangor or Penang clients, bill more than 150,000

filtered_clients = df[
    (df["monthly_bill"] > 150000) &
    (df["state"].isin(["Selangor","Penang"]))
    ]
filtered_clients

                 name     state       industry  monthly_bill
1      Mega Petrochem  Selangor  Petrochemical        200000
7  Penang Electronics    Penang    Electronics        175000

In [9]:

filtered_clients[["name","state","monthly_bill"]]

                 name     state  monthly_bill
1      Mega Petrochem  Selangor        200000
7  Penang Electronics    Penang        175000

In [10]:
#Add New annual_bill
df["annual_bill"] = df["monthly_bill"] * 12

df

,name,state,industry,monthly_bill,annual_bill
0,ABC Palm Oil,Johor,Palm Oil,120000,1440000
1,Mega Petrochem,Selangor,Petrochemical,200000,2400000
2,Green Factory,Penang,Manufacturing,95000,1140000
3,Sabah Food Sdn Bhd,Sabah,Food Processing,70000,840000
4,KL Steel Works,Kuala Lumpur,Steel,160000,1920000
5,Sarawak Timber,Sarawak,Timber,110000,1320000
6,Johor Logistics Hub,Johor,Logistics,130000,1560000
7,Penang Electronics,Penang,Electronics,175000,2100000

In [11]:
#Assume Solar could save 70%
df["annual_savings"] = df["annual_bill"] * 0.7

df

,name,state,industry,monthly_bill,annual_bill,annual_savings
0,ABC Palm Oil,Johor,Palm Oil,120000,1440000,1008000.0
1,Mega Petrochem,Selangor,Petrochemical,200000,2400000,1680000.0
2,Green Factory,Penang,Manufacturing,95000,1140000,798000.0
3,Sabah Food Sdn Bhd,Sabah,Food Processing,70000,840000,588000.0
4,KL Steel Works,Kuala Lumpur,Steel,160000,1920000,1344000.0
5,Sarawak Timber,Sarawak,Timber,110000,1320000,924000.0
6,Johor Logistics Hub,Johor,Logistics,130000,1560000,1092000.0
7,Penang Electronics,Penang,Electronics,175000,2100000,1470000.0

In [12]:
#Add system cost
#Assume the cost is about 10 times of 1 month bill

df["system_cost"] = df["monthly_bill"] * 10

df

,name,state,industry,monthly_bill,annual_bill,annual_savings,system_cost
0,ABC Palm Oil,Johor,Palm Oil,120000,1440000,1008000.0,1200000
1,Mega Petrochem,Selangor,Petrochemical,200000,2400000,1680000.0,2000000
2,Green Factory,Penang,Manufacturing,95000,1140000,798000.0,950000
3,Sabah Food Sdn Bhd,Sabah,Food Processing,70000,840000,588000.0,700000
4,KL Steel Works,Kuala Lumpur,Steel,160000,1920000,1344000.0,1600000
5,Sarawak Timber,Sarawak,Timber,110000,1320000,924000.0,1100000
6,Johor Logistics Hub,Johor,Logistics,130000,1560000,1092000.0,1300000
7,Penang Electronics,Penang,Electronics,175000,2100000,1470000.0,1750000

In [13]:
#Calculate ROI/year
df["payback_years"] = df["system_cost"] / df["annual_savings"]

df

,name,state,industry,monthly_bill,annual_bill,annual_savings,system_cost,payback_years
0,ABC Palm Oil,Johor,Palm Oil,120000,1440000,1008000.0,1200000,1.190476
1,Mega Petrochem,Selangor,Petrochemical,200000,2400000,1680000.0,2000000,1.190476
2,Green Factory,Penang,Manufacturing,95000,1140000,798000.0,950000,1.190476
3,Sabah Food Sdn Bhd,Sabah,Food Processing,70000,840000,588000.0,700000,1.190476
4,KL Steel Works,Kuala Lumpur,Steel,160000,1920000,1344000.0,1600000,1.190476
5,Sarawak Timber,Sarawak,Timber,110000,1320000,924000.0,1100000,1.190476
6,Johor Logistics Hub,Johor,Logistics,130000,1560000,1092000.0,1300000,1.190476
7,Penang Electronics,Penang,Electronics,175000,2100000,1470000.0,1750000,1.190476

In [14]:
df["savings_rate"] = [0.65, 0.72, 0.68, 0.6, 0.75, 0.7, 0.66, 0.73]

df["annual_savings"] = df["annual_bill"] * df["savings_rate"]

df["system_cost"] = df["monthly_bill"] * [11, 9, 10, 12, 8, 10, 11, 9]

df["payback_years"] = df["system_cost"] / df["annual_savings"]

df.sort_values("payback_years")

,name,state,industry,monthly_bill,annual_bill,annual_savings,system_cost,payback_years,savings_rate
4,KL Steel Works,Kuala Lumpur,Steel,160000,1920000,1440000.0,1280000,0.888889,0.75
7,Penang Electronics,Penang,Electronics,175000,2100000,1533000.0,1575000,1.027397,0.73
1,Mega Petrochem,Selangor,Petrochemical,200000,2400000,1728000.0,1800000,1.041667,0.72
5,Sarawak Timber,Sarawak,Timber,110000,1320000,924000.0,1100000,1.190476,0.70
2,Green Factory,Penang,Manufacturing,95000,1140000,775200.0,950000,1.225490,0.68
6,Johor Logistics Hub,Johor,Logistics,130000,1560000,1029600.0,1430000,1.388889,0.66
0,ABC Palm Oil,Johor,Palm Oil,120000,1440000,936000.0,1320000,1.410256,0.65
3,Sabah Food Sdn Bhd,Sabah,Food Processing,70000,840000,504000.0,840000,1.666667,0.60

In [16]:
df.sort_values("payback_years")

,name,state,industry,monthly_bill,annual_bill,annual_savings,system_cost,payback_years,savings_rate
4,KL Steel Works,Kuala Lumpur,Steel,160000,1920000,1440000.0,1280000,0.888889,0.75
7,Penang Electronics,Penang,Electronics,175000,2100000,1533000.0,1575000,1.027397,0.73
1,Mega Petrochem,Selangor,Petrochemical,200000,2400000,1728000.0,1800000,1.041667,0.72
5,Sarawak Timber,Sarawak,Timber,110000,1320000,924000.0,1100000,1.190476,0.70
2,Green Factory,Penang,Manufacturing,95000,1140000,775200.0,950000,1.225490,0.68
6,Johor Logistics Hub,Johor,Logistics,130000,1560000,1029600.0,1430000,1.388889,0.66
0,ABC Palm Oil,Johor,Palm Oil,120000,1440000,936000.0,1320000,1.410256,0.65
3,Sabah Food Sdn Bhd,Sabah,Food Processing,70000,840000,504000.0,840000,1.666667,0.60

In [17]:
df_sorted = df.sort_values("payback_years")

df_sorted[["name", "annual_savings", "system_cost", "payback_years"]]

                  name  annual_savings  system_cost  payback_years
4       KL Steel Works       1440000.0      1280000       0.888889
7   Penang Electronics       1533000.0      1575000       1.027397
1       Mega Petrochem       1728000.0      1800000       1.041667
5       Sarawak Timber        924000.0      1100000       1.190476
2        Green Factory        775200.0       950000       1.225490
6  Johor Logistics Hub       1029600.0      1430000       1.388889
0         ABC Palm Oil        936000.0      1320000       1.410256
3   Sabah Food Sdn Bhd        504000.0       840000       1.666667